.board-cell{
    background-color: #19181a;
    padding: 1em;
    height: 50px;
    width: 50px;
    cursor: pointer;
    fill: #ffffff;
}

.success path {
    fill: green;
}

.disabled {
    pointer-events: none;
}
