.board-cell{
    background-color: gray;
    padding: 1em;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.board-cell svg {
    filter: drop-shadow(2px 4px 6px black);
}

.success path {
    fill: green;
}

.disabled {
    pointer-events: none;
}
