.game-record-bar-wrapper {
    display: flex;
    justify-content: center;
    padding: 16px;
}

.game-record-bar {
    display: flex;
}

.player {
    padding: 5px;

}

.active {
    font-weight: bold;
    border-bottom: 3px solid black;
}